# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\教学视频\heima\黑马JavaEE 57期\00 讲义+笔记+资料\主流框架\32.会员版(2.0)-就业课(2.0)-Spring\57.spring\spring\spring_day02\代码\spring_day02\day02_eesy_04account_annoioc_withoutxml\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
